<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }} | {{site.title | escape}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ page.author }}">
  <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">
  <style>
    .bg-orange {background-color:#f59509;};
    .bg-light-blue {background-color:#566199;};
    .bg-dark-pink {background-color:#a6a8a8;};
    .bg-light-green {background-color:#dcb47e;};
    .bg-navy {background-color:#2a66aa;};
    .bg-dark-green {background-color:#f6a223;};
    .bg-purple {background-color:#a8b195;};
    .bg-dark-red {background-color:#434e7c;};
  </style>
</head>